<form method="post" action="{{ path('index', {'id': matiere.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette matière?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ matiere.id) }}">
    <button class="btn">Supprimer</button>
</form>
