{% extends 'base2.html.twig'%}

{% block title 'Success' %}
{% block body %}
    <h1> Success de paiement </h1>
    <a href="{{ path('user_interface') }}" ><button class="btn btn-outline-success float-md-right" id="checkout-button">Retour</button></a>



{% endblock %}